<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>Your Info</mat-card-title>
    <mat-card-subtitle>email: {{ userData?.email }}</mat-card-subtitle>
    <mat-card-subtitle>First Name: {{ userData?.firstName }}</mat-card-subtitle>
    <mat-card-subtitle>Last Name: {{ userData?.lastName }}</mat-card-subtitle>
    <mat-card-subtitle>Full Name: {{ userData?.fullName }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions>
    <!-- <button mat-button>Learn More</button> -->
  </mat-card-actions>
</mat-card>
